/* Quizmaster specific styles */
.customb {
    width: 100px !important;
}
/* The countdown - hidden by default */
.countdown {
  	position: fixed;
  	bottom: 0;
  	text-align: center;
  	border: 2px;
  	z-index: 10;
	color: blue;
	font-size: 12em
}

/* game title */
.gtitle {
	text-align: center;
	color: green;
	font-family: Arial,Helvetica,sans-serif;
	font-style: italic,bold;
	font-size: 2em
}

/* question header style */
.qheader {
  align-content: center;
	color: red;
	font-family: Arial,Helvetica,sans-serif;
	font-style: bold;
	font-size: 2em
}

/* actual question */
.qclass {
  align-content: center;
	color: black;
	font-family: Impact,Haettenschweiler,'Arial Narrow Bold',sans-serif;
	font-style: bold;
	font-size: 2em
}

.qm-info {
	align-content: center;
	color: black;
	font-family: Arial,Helvetica,sans-serif;
	font-style: bold;
	font-size: 1.2em
}

.messages {
	align-content: center;
	color: blueviolet;
	font-family: Arial,Helvetica,sans-serif;
	font-style: bold;
	font-size: 1.2em
}

.messages2 {
	align-content: center;
	color: violet;
	font-family: Arial,Helvetica,sans-serif;
	font-style: bold;
	font-size: 1.4em
}
