/* Quizmaster specific styles */
.customb {
    width: 100px !important;
}
/* The countdown - hidden by default */
.countdown {
  	position: fixed;
  	bottom: 0;
  	text-align: center;
  	border: 2px;
  	z-index: -1;
	color: blue;
	font-size: 12em
}

/* game title */
.gtitle {
	text-align: center;
	color: green;
	font-family: Arial,Helvetica,sans-serif;
	font-style: italic,bold;
	font-size: 2em
}

/* question header style */
.qheader {
  align-content: center;
	color: red;
	font-family: Arial,Helvetica,sans-serif;
	font-style: bold;
	font-size: 2em
}

/* actual question */
.qclass {
  align-content: center;
	color: black;
	font-family: Impact,Haettenschweiler,'Arial Narrow Bold',sans-serif;
	font-style: bold;
	font-size: 1.5em
}

.qm-info {
	align-content: center;
	color: black;
	font-family: Arial,Helvetica,sans-serif;
	font-style: bold;
	font-size: 1.2em
}

.messages {
	align-content: center;
	color: blueviolet;
	font-family: Arial,Helvetica,sans-serif;
	font-style: bold;
	font-size: 1.2em
}

.messages2 {
	align-content: center;
	color: violet;
	font-family: Arial,Helvetica,sans-serif;
	font-style: bold;
	font-size: 1.4em
}

.canswer {
	  color: rgb(29, 82, 8);
	  font-family: Arial,Helvetica,sans-serif;
	  font-style: bold;
	  font-size: 1.5em
  }
  
.yanswer {
	color: rgb(197, 38, 99);
	font-family: Arial,Helvetica,sans-serif;
	font-style: bold;
	font-size: 1.5em
}

.ypoints {
	color: green;
	font-family: Arial,Helvetica,sans-serif;
	font-style: bold;
	font-size: 1.2em
}

.ytotal {
	color: black;
	font-family: Arial,Helvetica,sans-serif;
	font-style: bold;
	font-size: 1.5em
}

.popquiz {
/*	margin: 12px 42px 12px 12px; */
	padding: 12px 32px 12px 32px;
	background-color: rgba(88, 164, 235, 0.1);
	border-width: 0px; 
	border-color: grey; 
	border-style: solid
}

.popquiz:hover {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 4px 6px 20px 0 rgba(0, 0, 0, 0.5)
} 

.popquiz div.gameitem {
	width: 192px;
	height: 340px
}

.popquiz .gicon {
	width: 100%;
	height: 57%;
	border-width: 1px; 
	border-color: grey; 
	border-style: solid
}

.popquiz .gamename {
	width: 100%;
	height: 7%;
	color: blue;
	font-family: Arial,Helvetica,sans-serif;
	font-style: bold;
	font-size: 1.5em
}

.popquiz .gamedesc {
	width: 100%;
	height: 25%;
	color: black;
	font-family: Arial,Helvetica,sans-serif;
	font-style: bold;
	font-size: 1em
}
